<div class="resume-section-content">
  <h2 class="mb-5">Education</h2>

  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
      <h3 class="mb-0">„Babeș-Bolyai” University, Cluj-Napoca</h3>
      <div class="subheading mb-3">Bachelor's degree, Computer Science</div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">October 2014 - June 2017</span></div>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
      <h3 class="mb-0">Liceul Technologic "Gheorghe Pop de Băsești" &nbsp;&nbsp;&nbsp;<br> Cehu Silvaniei</h3>
      <div class="subheading mb-3">Mathematics &amp; Computer Science</div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">October 2014 - June 2017</span></div>
  </div>
</div>

