<div class="resume-section-content">
  <h2 class="mb-5">Experience</h2>
  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
      <h3 class="mb-0">Senior Java Engineer (Team Lead)</h3>
      <div class="subheading mb-3">Accesa</div>
      <p>The client, one of the biggest banks in the world, was dealing with a lack of productivity among employees and
        implicitly less income, due to lacking any kind of automation in daily processes, all tasks requiring manual
        administrator approval.
        <br>
      </p>
      <ul>
        <li> Eliminated annual losses amounting to over €1M in revenue per year, and reduced the needed time to give
          accesses
          from 4 hours to under 5 minutes by removing all manual processes by fully automating with implementing various
          features using JavaEE and framework-specific XML configurations.
        </li>
        <br>
        <li>
          Doubled the delivered features within 2 months by keeping a startling line of communication with the client
          and
          efficiently leading a fast-paced team by sharing my technical and business knowledge with my team members.
        </li>
      </ul>
      <div class="subheading mb-3"><b>Skills:</b> Java, JavaEE, JPA, Jersey, Unit Testing, JSF, SQL, XML, Maven, Git,
        Jenkins, Jira.
      </div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">Nov 2020 - Sept 2021</span></div>
  </div>


  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
      <h3 class="mb-0">Senior Java Full-Stack Engineer</h3>
      <div class="subheading mb-3">msg Systems Romania</div>
      <p>The client, one of the biggest car manufacturers in the world, was struggling with a slow advancement when
        designing the electric system of a new car, due to lacking a synchronized communication and design system, all
        information being shared and checked via email.
        <br>
      </p>
      <ul>
        <li>
          Reduced the electric system planning time from 21 weeks to 10 weeks and saved more than €1M yearly in the
          process by designing and implementing an efficient synchronized system by using angular to implement UI
          components to expose the system through a web interface. Also implementing back-end business logic using
          JavaEE.
        </li>
      </ul>
      <div class="subheading mb-3"><b>Skills:</b>Java, JavaEE, Angular, REST, JPA, Jersey, Unit Testing, SQL, swagger,
        YAML, maven, Git, Bitbucket, Jenkins, Jira.
      </div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">Sept 2018 - Nov 2020</span></div>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
      <h3 class="mb-0">Senior Java Engineer</h3>
      <div class="subheading mb-3">msg Systems Romania</div>
      <p>
        The client, one of the biggest car manufacturers in the world, was dealing with a vicious cycle of either
        having too much stock or falling behind orders due to the inefficient management system that was tightly
        dependent on the inconsistent number of car orders of the customers.
        <br>
      </p>
      <ul>
        <li> Increased the efficiency of the management system by 100% and assured full functionality by rebuilding the
          system in order to be less dependent on the number of orders of the client by implementing business logic
          using JavaEE and SQL.
        </li>
      </ul>
      <div class="subheading mb-3"><b>Skills:</b>Java, JavaEE, REST, JPA, Jersey, Unit Testing, Angular-JS, swagger,
        YAML, maven, SQL, Git, Jenkins, Jira.
      </div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">Nov 2017 - Sept 2018</span></div>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
      <h3 class="mb-0">Java Full-Stack developer</h3>
      <div class="subheading mb-3">msg Systems Romania</div>
      <p>
        The client, an important car manufacturer, was in danger of having its licenses removed and was expecting huge
        fines due to lacking a system that can accurately predict the emissions and the fuel consumption of a planned
        car to comply with the latest regulations of the government.
        <br>
      </p>
      <ul>
        <li> Achieved 100% accurate prediction with a maximum deviation of 3% by implementing an application exposing it
          through a web interface that extracts and puts together valuable human-readable insights from the database, by
          implementing UI components using ExtJS and implementing back-end business logic using JavaEE.
        </li>
      </ul>

      <div class="subheading mb-3"><b>Skills:</b>Java, JavaEE, REST, JPA, Jersey, Unit Testing, Ext-JS, SQL, Git,
        Jenkins, Jira.
      </div>
    </div>
    <div class="flex-shrink-0"><span class="text-primary">Sept 2016 - Nov 2017</span></div>
  </div>
</div>
