<div class="resume-section-content">
  <h2 class="mb-2">Skills</h2>
  <div class="subheading">Programming Languages</div>
  <table style="font-size: 1.6rem">
    <tr>
      <td ><i class="fab fa-java"></i></td>
      <td>Java</td>
      <td>5 years</td>
    </tr>
    <tr>
      <td><i class="fab fa-java"></i></td>
      <td>JavaEE</td>
      <td>5 years</td>
    </tr>
    <tr>
      <td><i><b>JUnit &nbsp;</b></i></td>
      <td>JUnit</td>
      <td>5 years</td>
    </tr>
    <tr>
      <td><i class="fas fa-database"></i></td>
      <td>SQL</td>
      <td>5 years</td>
    </tr>
    <tr>
      <td><i class="fab fa-angular"></i></td>
      <td>Angular</td>
      <td>2 years</td>
    </tr>
    <tr>
      <td><i><b>TS</b></i></td>
      <td>Typescript &nbsp;</td>
      <td>2 years</td>
    </tr>
  </table>

  <div class="subheading mt-3">Frameworks</div>
  <div style="font-size: 1.6rem">
    <i><b>JPA/Hibernate, CDI, Bean Validation, JAX-RS, Jersey, JUnit5, Mockito</b></i>
  </div>

  <div class="subheading mt-3">Tools</div>
  <div style="font-size: 1.6rem">
    <i><b>git, maven, Jenkins, Jira, IntelliJ, Eclipse, Tomcat, Glassfish, JaCoCo</b></i>
  </div>
</div>
