<div class="resume-section-content">
  <h2 class="mb-5">Skills</h2>
  <div class="subheading mb-3">Programming Languages & Tools</div>
  <table>
    <tr>
      <td class="dev-icons"><i class="fab fa-java"></i></td>
      <td class="dev-icons">Java</td>
      <td style="font-size: xx-large">5 years</td>
    </tr>
    <tr>
      <td class="dev-icons"><i class="fab fa-java"></i></td>
      <td class="dev-icons">JavaEE</td>
      <td style="font-size: xx-large">5 years</td>
    </tr>
    <tr>
      <td class="dev-icons"><i class="fas fa-database"></i></td>
      <td class="dev-icons">SQL</td>
      <td style="font-size: xx-large">5 years</td>
    </tr>
    <tr>
      <td class="dev-icons"><i class="fab fa-angular"></i></td>
      <td class="dev-icons">Angular</td>
      <td style="font-size: xx-large">2 years</td>
    </tr>
    <tr>
      <td class="dev-icons"><i><b>TS &nbsp;</b></i></td>
      <td class="dev-icons">Typescript &nbsp;</td>
      <td style="font-size: xx-large">2 years</td>
    </tr>
  </table>
</div>
