<div id="page-top"></div>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand" href="#page-top">
    <span class="d-block d-lg-none">Helmut Siegel</span>
    <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                                         src="assets/img/profile.jpg" alt="..."/></span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
    class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#about">About me</a></li>
      <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
      <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
      <li class="nav-item"><a class="nav-link" href="#languages">Languages</a></li>
      <li class="nav-item"><a class="nav-link" href="#certifications">Certifications</a></li>
      <li class="nav-item"><a class="nav-link" href="#education">Education</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid p-0">
  <section class="resume-section" id="about">
    <about-me></about-me>
  </section>
  <hr class="m-0"/>
  <!-- Experience-->
  <section class="resume-section" id="experience">
    <experiences></experiences>
  </section>
  <hr class="m-0"/>
  <!-- Skills-->
  <section class="resume-section" id="skills">
    <skills></skills>
  </section>
  <hr class="m-0"/>
  <!--  Languages-->
  <section class="resume-section" id="languages">
    <languages></languages>
  </section>
  <hr class="m-0"/>
  <!-- Education-->
  <section class="resume-section" id="certifications">
    <certifications></certifications>
  </section>
  <hr class="m-0"/>
  <!-- Education-->
  <section class="resume-section" id="education">
    <education></education>
  </section>
  <hr class="m-0"/>
</div>
