<div class="resume-section-content">
  <h2 class="mb-5">Languages</h2>
  <table>
    <tr>
      <td><i class="langIcon" style="background: url('assets/flags/en.svg');"></i>&nbsp;&nbsp;
      <td class="dev-icons" style="font-size: 2rem">&nbsp; English</td>
      <td style="font-size: x-large">C1</td>
    </tr>
    <tr>
      <td><i class="langIcon" style="background: url('assets/flags/de.svg');"></i>&nbsp;&nbsp;
      <td class="dev-icons" style="font-size: 2rem">&nbsp; German</td>
      <td style="font-size: x-large">C1</td>
    </tr>
    <tr>
      <td><i class="langIcon" style="background: url('assets/flags/ro.svg');"></i>&nbsp;&nbsp;
      <td class="dev-icons" style="font-size: 2rem">&nbsp; Romanian</td>
      <td style="font-size: x-large">C1</td>
    </tr>
    <tr>
      <td><i class="langIcon" style="background: url('assets/flags/hu.svg');"></i>&nbsp;&nbsp;
      </td>
      <td class="dev-icons" style="font-size: 2rem">&nbsp; Hungarian &nbsp;&nbsp;</td>
      <td style="font-size: x-large">Native</td>
    </tr>
  </table>
</div>
