<div id="page-top">
  <h2 class="m-3">Welcome to my Blog</h2>
  <div class="row m-1">
    <div class="col mt-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">My favorite 10 clean code principles</h3>
          <p style="font-size: 1.2rem" class="card-text">
            Over the last years, I worked on many projects and I encountered many types of code. I saw how powerful is
            when we apply coding principles. In this article, I collected my 10 favorite clean code principle and I want
            to share with you. Enjoy reading it..</p>
          <a [routerLink]="['favorite-clean-code-principles']" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
