<div id="page-top">
  <h2 class="m-3">Welcome to my Blog</h2>

  <div class="row m-1">
    <div class="col mt-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Software engineer vocabulary</h3>
          <p class="card-text">In this article I'm going to share with you a lot of software engineering vocabulary and
            acronyms.</p>
          <a [routerLink]="'software-engineer-vocabulary'" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-1">
    <div class="col mt-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">My favorite 10 clean code principles</h3>
          <p class="card-text">In this article I want to share with you my 10 favorite clean code principle</p>
          <a [routerLink]="'favorite-clean-code-principles'" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>

</div>
