<div class="mt-2">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">My favorite 10 clean code principles</h3>
          <p class="card-text">In this article I want to share with you my 10 favorite clean code principle</p>
          <a [href]="'blog/favorite-clean-code-principles'" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>

    <div class="col">

    </div>

    <div class="col">

    </div>
  </div>
</div>
