<div id="page-top">
  <div class="container-fluid p-0">
    <section class="resume-section" id="about">
      <about-me></about-me>
    </section>
    <hr class="m-0"/>
    <!-- Experience-->
    <section class="resume-section" id="experience">
      <experiences></experiences>
    </section>
    <hr class="m-0"/>
    <!-- Skills-->
    <section class="resume-section" id="skills">
      <skills></skills>
    </section>
    <hr class="m-0"/>
    <!--  Languages-->
    <section class="resume-section" id="languages">
      <languages></languages>
    </section>
    <hr class="m-0"/>
    <!-- Education-->
    <section class="resume-section" id="certifications">
      <certifications></certifications>
    </section>
    <hr class="m-0"/>
    <!-- Education-->
    <section class="resume-section" id="education">
      <education></education>
    </section>
    <hr class="m-0"/>
  </div>
</div>
