//
// Styles
//

// Import variables
@import "src/assets/styles/variables";

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Global CSS
@import "src/assets/styles/global";

// Components
@import "src/assets/styles/components/sidenav.scss";
@import "src/assets/styles/components/icons.scss";

// Sections
@import "src/assets/styles/sections/resume-section.scss";

.article {
  p {
    font-size: 1.2rem;
    color: black;
  }

  h4 {
    letter-spacing: .1rem;
  }

  margin: 1rem;

}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
